@model CodigoProgramado_Grupo4.Models.ListaDeseos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ListaDeseos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Productos.NombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.NombreProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
