@model CodigoProgramado_Grupo4.Models.Producto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disponibilidadInventario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disponibilidadInventario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>

        <dd>
            @if (Model.Imagen != null && Model.Imagen.Length > 0)
            {
                string imageBase64 = Convert.ToBase64String(Model.Imagen);
                string imageSrc = string.Format("data:image/jpg;base64,{0}", imageBase64);
                <img src="@imageSrc" alt="Imagen del libro" width="100%" height="500px" />
            }
            else
            {
                <p>No hay imagen disponible</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen2)
        </dt>

        <dd>
            @if (Model.Imagen2 != null && Model.Imagen2.Length > 0)
            {
                string imageBase64 = Convert.ToBase64String(Model.Imagen2);
                string imageSrc = string.Format("data:image/jpg;base64,{0}", imageBase64);
                <img src="@imageSrc" alt="Imagen del libro" width="100%" height="500px" />
            }
            else
            {
                <p>No hay imagen disponible</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen3)
        </dt>

        <dd>
            @if (Model.Imagen3 != null && Model.Imagen3.Length > 0)
            {
                string imageBase64 = Convert.ToBase64String(Model.Imagen3);
                string imageSrc = string.Format("data:image/jpg;base64,{0}", imageBase64);
                <img src="@imageSrc" alt="Imagen del libro" width="100%" height="500px" />
            }
            else
            {
                <p>No hay imagen disponible</p>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
