@model CodigoProgramado_Grupo4.Models.Producto

@{
    ViewBag.Title = "Detalles del producto";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

<h2>Detalles del producto</h2>

<div class="position-relative">
    <div class="position-absolute top-0 end-0 mt-2 me-2">
        <form action="@Url.Action("ListaDeseosPorProducto", "Productos")" method="post">
            @Html.AntiForgeryToken()
            @Html.Hidden("productId", Model.Id)
            <button type="submit" class="btn btn-primary" title="Agregar/Quitar de lista de deseos">
                @if (Session["User"] == null)
                {
                    <i class="fa fa-star" style="color: gray;"></i>
                }
                else if (Model.ListaDeseos != null &&
                    Model.ListaDeseos.Any(w => w.UsuarioId == ((CodigoProgramado_Grupo4.Models.Usuario)Session["User"]).Id))
                {
                    <i class="fa fa-star" style="color: gold;"></i>
                }
                else
                {
                    <i class="fa fa-star" style="color: gray;"></i>
                }
            </button>
        </form>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <!-- Carrusel de imágenes -->
        <div class="col-md-6">
            <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @if (Model.Imagen != null && Model.Imagen.Length > 0)
                    {
                        <div class="carousel-item active">
                            <img src="data:image/jpg;base64,@Convert.ToBase64String(Model.Imagen)" class="d-block w-100" alt="Imagen 1" width="100%" height="500px"/>
                        </div>
                    }
                    @if (Model.Imagen2 != null && Model.Imagen2.Length > 0)
                    {
                        <div class="carousel-item">
                            <img src="data:image/jpg;base64,@Convert.ToBase64String(Model.Imagen2)" class="d-block w-100" alt="Imagen 2" width="100%" height="500px"/>
                        </div>
                    }
                    @if (Model.Imagen3 != null && Model.Imagen3.Length > 0)
                    {
                        <div class="carousel-item">
                            <img src="data:image/jpg;base64,@Convert.ToBase64String(Model.Imagen3)" class="d-block w-100" alt="Imagen 3" width="100%" height="500px" />
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <!-- Atributos del producto -->
        <div class="col-md-6">
            <h4>Producto</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CodigoProducto)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.CodigoProducto)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.NombreProducto)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.NombreProducto)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Precio)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Precio)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.disponibilidadInventario)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.disponibilidadInventario)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.estado)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.estado)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Categoria)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Categoria)</dd>
            </dl>
        </div>
    </div>
</div>


<h3>Reseñas</h3>
@Html.Partial("_Resenas", Model.Resenas)

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
