@model CodigoProgramado_Grupo4.Models.Producto

@{
    ViewBag.Title = "Details";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<h2>Details</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disponibilidadInventario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disponibilidadInventario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>

        <dd>
            @if (Model.Imagen != null && Model.Imagen.Length > 0)
            {
                string imageBase64 = Convert.ToBase64String(Model.Imagen);
                string imageSrc = string.Format("data:image/jpg;base64,{0}", imageBase64);
                <img src="@imageSrc" alt="Imagen del libro" width="100%" height="500px" />
            }
            else
            {
                <p>No hay imagen disponible</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen2)
        </dt>

        <dd>
            @if (Model.Imagen2 != null && Model.Imagen2.Length > 0)
            {
                string imageBase64 = Convert.ToBase64String(Model.Imagen2);
                string imageSrc = string.Format("data:image/jpg;base64,{0}", imageBase64);
                <img src="@imageSrc" alt="Imagen del libro" width="100%" height="500px" />
            }
            else
            {
                <p>No hay imagen disponible</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen3)
        </dt>

        <dd>
            @if (Model.Imagen3 != null && Model.Imagen3.Length > 0)
            {
                string imageBase64 = Convert.ToBase64String(Model.Imagen3);
                string imageSrc = string.Format("data:image/jpg;base64,{0}", imageBase64);
                <img src="@imageSrc" alt="Imagen del libro" width="100%" height="500px" />
            }
            else
            {
                <p>No hay imagen disponible</p>
            }
        </dd>
        <p>Producto ID: @Model.Id</p>
        <p>Usuario Actual: @(Session["User"] != null ? ((CodigoProgramado_Grupo4.Models.Usuario)Session["User"]).Nombre : "No identificado")</p>

        
        


        <dd>
            <form action="@Url.Action("ListaDeseosPorProducto","Productos")" method="post">
                @Html.AntiForgeryToken()
                @Html.Hidden("productId", Model.Id)
                <button type="submit" class="btn btn-primary" title="Agregar/Quitar de lista de deseos">
                    <!--Verifica que la lista de deseos del modelo no sea nula-->
                    @if(Model.ListaDeseos != null &&

                    // Busca si hay algun elemento en la lista de deseos que coincida con el usuario actual
                    
                    Model.ListaDeseos.Any(w => 
                    
                    // Compara el UsuarioId del elemento con el Id del usuario actual en la sesion 
                    w.UsuarioId == ((CodigoProgramado_Grupo4.Models.Usuario)Session["User"]).Id))
                    {
                        <i class="fa fa-star" style="color: gold;"></i>
                    } else 
                    { 
                        <i class="fa fa-star" style="color: gray;"></i>
                    }
                </button>

            </form>

        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h3>Reseñas</h3>
@Html.Partial("_Resenas", Model.Resenas)
